<!-- <button  [value]="fun1" (click)="demo($event)">true</button>
<button [value]="fun2" (click)="demo($event)">false</button>
<br><br>
student name: <input type="text" [(ngModel)]="studentname">
<p>{{studentname}}</p>
<br><br>
<div>
Number 1:<input type="number" [(ngModel)]="no1"><br><br>
Number 2:<input type="number"[(ngModel)]="no2"><br><br>
<button (click)="addition($event)">Addition</button><br>
Result : <input type="number" [value]="reult">
<br>
Male<input type="radio" name="gender" value="{{male1}}" (change)="gen($event)">
Female<input type="radio" name="gender" value="{{female1}}"(change)="gen($event)">
<div class="gendercss">-   {{gender12}}</div>

</div> -->

<router-outlet></router-outlet>
