<form [formGroup]="loginFormControl">
    <div class="container1">
    <div class="container" >
        <p class="back" (click)="back()">Back</p>
        <h2 > LOGIN</h2><br>
        <input type="text" placeholder="username" formControlName="userName"><br>
        <span class="err" *ngIf="loginFormControl.get('userName')?.errors?.['maxlength']"> Maximum 15 Character Allowed</span>
        <span class="err" *ngIf="!loginFormControl.get('userName')?.errors?.['maxlength'] && loginFormControl.get('userName')?.errors?.['pattern'] ">Only Character and Number Are Allowed</span>
        <br><br>
        <input [type]="showpass?'text':'password'" placeholder="password"  formControlName="password">
        <span class="passicon" (click)="pass()" *ngIf="showpass"><i class="bi bi-eye" ></i></span>
        <span class="passicon" (click)="pass()" *ngIf="!showpass" ><i class="bi bi-eye-slash"></i></span>
        <br>
        <span class="err" *ngIf="loginFormControl.get('password')?.errors?.['rightword']">Don't write 'password' word in this input box</span>
        <br>
        <a href="">Forgot Password</a>
        <label (click)="signup()">Signup</label><br>
        <br><br>
        <button (click)="login()" >Login</button>
    </div>
</div>
</form>
    

