/* You can add global styles to this file, and also import other style files */
button:hover{
    color: red;
    background-color: rgb(229, 241, 56);
  text-shadow: 1px 1px 1px black;
    width: 70px;
 }