.top-navbar{
    position: fixed;
    height: 50px;
    width: 100%;
    border: 1px solid black;
    /* width: 330px; */
    z-index: 1;
    background-color: white;

}
.btn button{
    /* position: absolute; */
    /* float: righleftyt; */
    padding: 5px 8px;
    margin-left: 1187px;
    font-size: 15px;
    text-align: center;
    word-spacing: 4px;
    border: none;
    /* margin-right: 40px; */
    /* border: 2px solid black; */
    border-radius: 15px;
}
.btn{
    margin-top: 10px;
}
.logo{
    position: absolute;
    height: 52px;
    margin: -1px;
}
.nav1{
 margin-left: 60px;
 position: absolute;
 margin-top: 18px;

}
.second-navbar{
    position: fixed;
    height: 20px;
    width: 100%;
    border: 1px solid black;
    /* min-width: 330px; */
    padding: 5px;
    background-color: rgb(65, 57, 57);
    word-spacing: 20px;
    margin-top: 50px;
    z-index: 2;
}
div.second-navbar a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 6px;

}
a:hover{
    background-color: rgb(86, 177, 83);
}
.slide-bar{
    position: absolute;
    width:200px ;
    height: 500px;
    border: 1px solid black;
    margin-top: 82px;
    z-index: 1;
    /* overflow-y: scroll; */
    overflow: auto;
   
    padding: 10px;
    /* scroll-behavior: smooth; */
    background-color: rgb(191, 197, 197);
}
div.slide-bar div{
    padding: 7px;
}
div.slide-bar a{
    margin-top: 15px;;
    padding: 2px 20px 2px 5px;
    
    word-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
  
}
div.slide-bar a:hover{
    background-color: rgb(86, 177, 83);
   color: white;
}
.dropdown{
    position: absolute;
    width: 100px;
    z-index: 2;
    top: 58px;
    left: 159px;
    background-color: aquamarine;
    padding: 20px;
    display: none;
}
.nav1 a:hover {
    display: .dropdown;
}
 .nav1 a{
    font-size: 17px;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
 }

.main{
    position: absolute;
    width: 800px;
    height: 520px;
    border: 1px solid black;
    margin-top: 81px;
    z-index: 1;
    overflow-y: scroll;
    margin-left: 220px;
    padding: 10px;

}
