<!-- <form [formGroup]="loginform">
    <div class="main" >
        <h2>Login</h2>
        <div>User Name</div>
        <input type="text" formControlName="userName" ><br><br>
        <div>password</div>
        <input type="text" formControlName="password"><br><br>
        <button (click)="submitdata()">submit</button>
        <br><br>

    </div>


</form> -->

<input type="text" [(ngModel)]="userName"><br>
<br><button (click)="livepage2()">livepage2</button>
--------------------------------------



